.modal-content {
  position: absolute;
  top: 58px !important;
  left: -120px !important;
  max-width: 500px;
  box-shadow: 1px 1px 5px rgb(0,0,0,0.5);  
}

.close {
  width: 18px;
  position: absolute;

  top: -0.7em;
  left: -0.9em;
  z-index: 10;
  font-size: 0.5em;

  padding: 2px 0 2px 0 !important;
  box-shadow: 1px 1px 5px rgb(0,0,0,0.5);

}

.modal-body td{
    color: var(--text-dark);
}