.title{
  text-shadow: 1px 2px 10px rgb(2, 54, 2) ;
  color: white;
  text-align: center;
  font-weight: 400;
}

.admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-light);
  color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
}
.admin-header .brand {
  display: flex;
  align-items: center;
  gap: 12px;
}
nav{
  padding: 5px !important;
}

.text-shadow{
    text-shadow: 1px 2px 10px rgb(2, 54, 2) ;    
}
