.admin-layout {
  display: flex;
  flex: 1;
}
.admin-sidebar {
  width: 250px;
  background: var(--primary-light-2);
  padding: 16px;
  height: 100%;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.02);
  min-height: 92vh;
}
.admin-sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.admin-sidebar a.item {
  text-align: right;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  font-family: "Cairo", sans-serif;
  font-size: 0.8em;
  border-radius: 0;
}
.admin-sidebar a.item:hover {
  background: var(--primary-light);
}
.admin-sidebar a.item.active {
  background: rgba(241, 162, 26, 0.1);
  color: var(--warning-dark);
  border-right: solid var(--secondary-color);  
}
