.slider-container {
  margin: 100px 5% 0 10%;
  min-height: 77vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  width: 45%;
  color: #082224;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 2em;
  color: var(--primary-color);
}

.highlight {
  color: var(--secondary-color);
  font-size: 2em;
}
.main-btn {
  background-color: var(--secondary-color);
  font-size: 1em;
}
.main-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* السلايدر */
.slider-wrapper {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  margin-left: 10%;
}

.img-wrapper {
  width: 40%;
  height: 70vh;
  background-color: var(--primary-color);
  position: relative;
  padding: 20px;
}

.slider-image {
  width: 220%;
  position: absolute;
  left: 60px;
  height: calc(70vh - 40px);
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  
}

/* النقاط */
.dots-wrapper {
  width: 2vw;
  position: absolute;
  left: 0.5vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dot {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  transition: all 0.4s ease;
}

.dot.active {
  width: 14px;
  height: 42px;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* تأثير الانتقال */
.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* استجابة الأجهزة الصغيرة */
@media (max-width: 992px) {
  .slider-container {
    flex-direction: column-reverse;
    margin: 0;
  }

  .slider-wrapper {
    width: 80%;
  }
  .text-section {
    width: 100%;
    margin: 0 ;
  }
}

@media (max-width: 768px) {
  .img-wrapper {
    width: 40%;
  }
.slider-image {
  width: 200%;
}
  .slider-wrapper {
    width: 80%;
  }
  .text-section {
    width: 100%;
    margin: 0;
  }
  .dots-wrapper {
    position: absolute;
    width: 4vw;
    left: 1vw;
  }
}
