.how-it-works {
  padding: 100px 0;
  /* background: white; */
}

.steps {
  display: flex;
  margin: 50px auto;
}

.step {
  text-align: center;
  position: relative;
}
p {
  position: relative;
}

.step::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background: var(--secondary-color);
  top: 40px;
  left: -30%;
}

.step:last-child::after {
  display: none;
}

.step-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: var(--primary-color);
  color: white;
  border-radius: var(--radius-full);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  margin-bottom: var(--spacing-lg);
}

.step h3 {
  font-size: var(--fs-2xl);
  margin-bottom: var(--spacing-base);
  color: var(--secondary-color);
}

.step p {
  color: var(--text-muted);
  font-size: var(--fs-2xl);
}

@media (max-width: 767px) {
  .step p {
    margin-bottom: 100px;
  }
  .step::after {
    display: none;
  }
  
  .step p::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 90px;
    background: var(--secondary-color);
    top: 63px;
    left: 50%;
    z-index: 99;
  }
  .step:last-child p::after {
    display: none;
  }
  
}
