.how-it-works {
  padding: 100px 0;
  /* background: white; */
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-2xl);
  max-width: 900px;
  margin: 100px auto;
}

.step {
  text-align: center;
  position: relative;
}

.step::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  background: var(--secondary-color);
  top: 40px;
  left: -30%;
  /* opacity: 0.3; */
}

.step:last-child::after {
  display: none;
}

.step-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: var(--primary-color);
  color: white;
  border-radius: var(--radius-full);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  margin-bottom: var(--spacing-lg);
}

.step h3 {
  font-size: var(--fs-2xl);
  margin-bottom: var(--spacing-base);
  color: var(--secondary-color);
}

.step p {
  color: var(--text-muted);
  font-size: var(--fs-2xl);

}

